<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448659484010-h5oeq55uoa80e26i1s52kt3eal65e5ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448659484010-h5oeq55uoa80e26i1s52kt3eal65e5ud</string>
	<key>API_KEY</key>
	<string>AIzaSyAjLqf2R2rREMjxI_-9tqANtJdStzvFG_8</string>
	<key>GCM_SENDER_ID</key>
	<string>448659484010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amstG3</string>
	<key>PROJECT_ID</key>
	<string>lab6g3-604c8</string>
	<key>STORAGE_BUCKET</key>
	<string>lab6g3-604c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448659484010:ios:5ac8a8c376092f33370913</string>
</dict>
</plist>